body{
  margin:0px;
  padding-top:100px;
}
header{
  display :flex;
  justify-content: space-evenly;
  width:100%;
  height:70px;
  position: fixed;
  top:0;
  left:0;
  background-color:#0C0524;
}

.sec1 ,.sec2, .sec3{
  display:flex;
  flex:1;
  justify-content:center;
  align-items: center;
  font-size:28px;
  color:white;
}

.sec1 img{
  width:50%;
  align-items: start;
  
}
.sec3{
  justify-content:end;
  margin-right:20px;
}

.delete-link, .update-link, .save-link{
  display: inline-block  ;
  color:#3481E5;
}
.links{
  display: flex;
  column-gap: 9px;
  margin-left:4px;
}

.after-updt{
  display :none;
  column-gap:6px;
}
.qty-input{
  width:23px;
}
.on{
  display:flex;
}

.qty-info{
  display:flex;
}

/* ------------------------------------- 
-                  Body       
-------------------------------------- */


.layout-total{
  display: flex;
  padding:12px;
  column-gap: 10px;
}

.layout-1{
  flex: 2;
  display:flex;
  flex-direction: column;
  row-gap:20px;
  
}
.layout-2{
  flex: 1;
  border: 1px solid #767676CC;
  display:flex;
  height:320px;
  border-radius:5px;
  justify-content:center;
  box-shadow: 0px 0px 2px 0.8px #9E9E9EFC;

  
}

/* product - box styling */

.product-box{
  border:1px solid #767676CC;
  box-shadow: 0px 0px 2px 0.8px #9E9E9EFC;
  border-radius: 4px;
  padding:15px 20px 40px 3px;
  display:flex;

}

.product-info {
  display:flex;
  flex:3;
  flex-direction: column;
  row-gap: 14px;
}


.headline{
  flex:1;
  font-weight: bold;
  color:#139B56;
  font-size: 29px;
  padding-left:10px;
  
}

.info-img-part{
  flex:7;
  display:flex;

}

.image-part{
  flex:1;
  text-align:center;
  padding-top:10px;
  
}
.image-part img{
  width:80%;
}

.info-part{
  flex:1;
  display :flex;
  flex-direction: column;
  row-gap:10px;
  padding-left:7px;
}
.info-name {
  font-weight: bold;
  font-size:20px;
}
.info-quantity{
  font-weight: 500;
}
.info-price{
  font-weight: bold;
  color:#7B3D1F;
  font-size: 18px;
}

.delivery-info {
  flex:1;
  display:flex;
  flex-direction: column;
  padding-left:7px;
  row-gap:10px;

}

.delivery-input-select{
  display:flex;
  row-gap:10px;
}
/* styling the radios */

.delivery-date{
  font-weight: bold;
  color :#139B56;
  font-size: 20px;
}

/* -------------------------------------
.              order-box              .
-------------------------------------*/

.order-box{
  display:flex;
  flex-direction:column;
  padding:15px;
  height:100%;
  row-gap:20px;
  font-weight: bold;
}
.order-box .head{
  color:black;
  font-size: 25px;
  font-weight: bold;
}

.calculation{
  display:flex;
  flex-direction:column;
  row-gap: 20px;
  padding-bottom:10px;
  border-bottom:1px solid #767676;

}

.add,.total{
  display:flex;
  flex-direction:row;
  justify-content: space-between ;
  column-gap: 70px;
  
}
.items {
  flex:3;
  
}
.Items, .calcu{
  display: flex;
  flex-direction: column;
  row-gap:10px;
  justify-content: end;
}


.calcu{
  flex:1;
  padding-bottom:5px;
  border-bottom:1px solid gray;
}
.total .calcu{
  border:none;
}




.order-button{
  display:flex;
  flex-direction: column;
  row-gap:13px;
  
}
.order-cost{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  color:#B73825;
}
.order-button button{
  background-color: #FFDA25;
  border:1px solid #D6B92D;
  padding:13px 10px;
  border-radius:9px ;
  
}



@media(max-width:400px){
  .layout-total{
    flex-direction: column;
    row-gap:15px;
  }
  
  .headline{
    font-size: 23px;
  }
  .info-name, .delivery-date,
  .info-part,.info-price{
    font-size: 16px;
  }
  .info-name{
    text-align: start;
  }
  header .sec2{
    font-size: 19px;
    flex:2;
  }

}




/* ============°°°============°°°°
.         after click update
°==================°°°°°°°°===== */


.is-qty .after-updt {
  display: initial;
}